pipeline/plCargaArquivosConvenio115.json
{
	"name": "plCargaArquivosConvenio115",
	"properties": {
		"activities": [
			{
				"name": "ListaArquivos",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "1.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "arq_Conv115",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FiltraArquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FiltraArquivos').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "NomeArquivo",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varNomeArquivo",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "NomeArquivo",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@substring(variables('varNomeArquivo'), 28, 1)",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "C",
										"activities": [
											{
												"name": "dfMapeamento115Controle",
												"type": "ExecuteDataFlow",
												"dependsOn": [],
												"policy": {
													"timeout": "1.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "dfMapeamento115Controle",
														"type": "DataFlowReference",
														"parameters": {
															"pNomeArq": {
																"value": "'@{variables('varNomeArquivo')}'",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"EntradaControleV3": {
																"NomeArqControle": {
																	"value": "@variables('varNomeArquivo')",
																	"type": "Expression"
																}
															}
														}
													},
													"compute": {
														"coreCount": 8,
														"computeType": "General"
													},
													"traceLevel": "Fine"
												}
											}
										]
									},
									{
										"value": "D",
										"activities": [
											{
												"name": "dfMapeamento115Cadastral",
												"type": "ExecuteDataFlow",
												"dependsOn": [],
												"policy": {
													"timeout": "1.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "dfMapeamento115Cadastral",
														"type": "DataFlowReference",
														"parameters": {
															"pNomeArq": {
																"value": "'@{variables('varNomeArquivo')}'",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"EntradaArqCadastral": {
																"NomeArqCadastral": {
																	"value": "@variables('varNomeArquivo')",
																	"type": "Expression"
																}
															}
														}
													},
													"compute": {
														"coreCount": 8,
														"computeType": "General"
													},
													"traceLevel": "Fine"
												}
											}
										]
									},
									{
										"value": "I",
										"activities": [
											{
												"name": "dfMapeamento115Item",
												"type": "ExecuteDataFlow",
												"dependsOn": [],
												"policy": {
													"timeout": "1.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "dfMapeamento115Item",
														"type": "DataFlowReference",
														"parameters": {
															"pNomeArq": {
																"value": "'@{variables('varNomeArquivo')}'",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"EntradaArqItem": {
																"NomeArqItem": {
																	"value": "@variables('varNomeArquivo')",
																	"type": "Expression"
																}
															}
														}
													},
													"compute": {
														"coreCount": 8,
														"computeType": "General"
													},
													"traceLevel": "Fine"
												}
											}
										]
									},
									{
										"value": "M",
										"activities": [
											{
												"name": "dfMapeamento115Mestre",
												"type": "ExecuteDataFlow",
												"dependsOn": [],
												"policy": {
													"timeout": "1.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "dfMapeamento115Mestre",
														"type": "DataFlowReference",
														"parameters": {
															"pNomeArq": {
																"value": "'@{variables('varNomeArquivo')}'",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"EntradaArqMestre": {
																"NomeArqMestre": {
																	"value": "@variables('varNomeArquivo')",
																	"type": "Expression"
																}
															}
														}
													},
													"compute": {
														"coreCount": 8,
														"computeType": "General"
													},
													"traceLevel": "Fine"
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "If Condition",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "NomeArquivo",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@endswith(variables('varNomeArquivo'), 'C.001')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "SERIE",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "varCD_SERIE",
											"value": {
												"value": "@substring(variables('varNomeArquivo'), 18, 3)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "UF",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "varCD_UF",
											"value": {
												"value": "@substring(variables('varNomeArquivo'), 0, 2)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "ANOMES",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "varCD_ANOMES",
											"value": {
												"value": "@concat('20',substring(variables('varNomeArquivo'), 21, 4))",
												"type": "Expression"
											}
										}
									},
									{
										"name": "CNPJ_EMPRESA",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "varCD_CNPJ_EMPRESA",
											"value": {
												"value": "@substring(variables('varNomeArquivo'), 2, 14)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "MODELO",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "varCD_MODELO",
											"value": {
												"value": "@substring(variables('varNomeArquivo'), 16, 2)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "RegistroTabConv115",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "SERIE",
												"dependencyConditions": [
													"Succeeded"
												]
											},
											{
												"activity": "UF",
												"dependencyConditions": [
													"Succeeded"
												]
											},
											{
												"activity": "ANOMES",
												"dependencyConditions": [
													"Succeeded"
												]
											},
											{
												"activity": "CNPJ_EMPRESA",
												"dependencyConditions": [
													"Succeeded"
												]
											},
											{
												"activity": "MODELO",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "1.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "AzureSqlDatabaseConv86",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"parameters": [
														{
															"name": "SERIE",
															"type": "String",
															"value": {
																"value": "@variables('varCD_SERIE')",
																"type": "Expression"
															},
															"direction": "Input"
														},
														{
															"name": "UF",
															"type": "String",
															"value": {
																"value": "@variables('varCD_UF')",
																"type": "Expression"
															},
															"direction": "Input"
														},
														{
															"name": "ANOMES",
															"type": "String",
															"value": {
																"value": "@variables('varCD_ANOMES')",
																"type": "Expression"
															},
															"direction": "Input"
														},
														{
															"name": "CNPJ_EMPRESA",
															"type": "String",
															"value": {
																"value": "@variables('varCD_CNPJ_EMPRESA')",
																"type": "Expression"
															},
															"direction": "Input"
														},
														{
															"name": "NOME_ARQUIVO",
															"type": "String",
															"value": {
																"value": "@variables('varNomeArquivo')",
																"type": "Expression"
															},
															"direction": "Input"
														},
														{
															"name": "MODELO",
															"type": "String",
															"value": {
																"value": "@variables('varCD_MODELO')",
																"type": "Expression"
															},
															"direction": "Input"
														}
													],
													"type": "NonQuery",
													"text": "INSERT INTO convenio.cvtb_convenio_115 \n(\nCD_SERIE, \nCD_UF, \nCD_ANO_MES, \nCD_CNPJ_EMPRESA,\nDT_INICIO_VIGENCIA,\nDT_CRIADO_EM, \nCD_CRIADO_POR, \nDT_ATUALIZADO_EM, \nCD_ATUALIZADO_POR, \nDS_FILE, \nCD_MODELO\n)\nVALUES \n(\n@SERIE,\n@UF,\n@ANOMES,\n@CNPJ_EMPRESA, \nDATEADD(HOUR, -3, sysdatetime()),\nDATEADD(HOUR, -3, sysdatetime()),\n'SYSTEM',\nDATEADD(HOUR, -3, sysdatetime()),\n'SYSTEM',\n@NOME_ARQUIVO,\n@MODELO\n)"
												}
											]
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "FiltraArquivos",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ListaArquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListaArquivos').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(length(item().Name), 33)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"varNomeArquivo": {
				"type": "String"
			},
			"varCD_SERIE": {
				"type": "String"
			},
			"varCD_UF": {
				"type": "String"
			},
			"varCD_ANOMES": {
				"type": "String"
			},
			"varCD_CNPJ_EMPRESA": {
				"type": "String"
			},
			"varCD_MODELO": {
				"type": "String"
			}
		},
		"folder": {
			"name": "CargaArquivosConv115"
		},
		"annotations": []
	}
}