pipeline/plControleCarga.json
{
	"name": "plControleCarga",
	"properties": {
		"activities": [
			{
				"name": "ListaArquivosKenan",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VerificaDiretorioKenan",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FiltraArquivosKenan",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ListaArquivosKenan",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListaArquivosKenan').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@or(or(startswith(item().Name, '01'), startswith(item().Name, '02')), startswith(item().Name, '03'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TestaPastaComArquivosKenan",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "FiltraArquivosKenan",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('FiltraArquivosKenan').output.FilteredItemsCount,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "plCtrCargaArquivosContestacaoKenan",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "plCtrCargaArquivosContestacaoKenan",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "ListaArquivosAtlys",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VerificaDiretorioAtlys",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "TestaPastaComArquivosAtlys",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "FiltraArquivosAtlys",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('FiltraArquivosAtlys').output.FilteredItemsCount,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "plCtrCargaArquivosContestacaoAtlys",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "plCtrCargaArquivosContestacaoAtlys",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "ListaArquivosAtis",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VerificaDiretorioAtis",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FiltraArquivosAtlys",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ListaArquivosAtlys",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListaArquivosAtlys').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@or(startswith(item().Name, 'adj'), startswith(item().Name, 'rcvbl'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FiltraArquivosAtis",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ListaArquivosAtis",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListaArquivosAtis').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@or(startswith(item().Name, 'ATIS_PAGO'), startswith(item().Name, 'ATIS_NAOPAGO'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TestaPastaComArquivosAtis",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "FiltraArquivosAtis",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('FiltraArquivosAtis').output.FilteredItemsCount,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "plCtrCargaArquivosContestacaoAtis",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "plCtrCargaArquivosContestacaoAtis",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "ListaArquivosFat",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VerificaDiretorioFat",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FiltraArquivosFat",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ListaArquivosFat",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListaArquivosFat').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@or(startswith(item().Name, 'CAR_FF'), startswith(item().Name, 'CAR_FNP'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TestaPastaComArquivosFat",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "FiltraArquivosFat",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('FiltraArquivosFat').output.FilteredItemsCount,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "plCtrCargaArquivosContestacaoFat",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "plCtrCargaArquivosContestacaoFat",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "ListaArquivosVivonext",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VerificaDiretorioVivoNext",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FiltraArquivosVivonext",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ListaArquivosVivonext",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListaArquivosVivonext').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@or(startswith(item().Name, 'Vivonext_K16'), startswith(item().Name, 'Vivonext_K17'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TestaPastaComArquivosVivonext",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "FiltraArquivosVivonext",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('FiltraArquivosVivonext').output.FilteredItemsCount,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "plCtrCargaArquivosContestacaoVivoNext",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "plCtrCargaArquivosContestacaoVivoNext",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}