pipeline/plControleCarga.json
{
	"name": "plControleCarga",
	"properties": {
		"activities": [
			{
				"name": "ListaArquivosKenan",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VerificaDiretorioKenan",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FiltraArquivosKenan",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ListaArquivosKenan",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListaArquivosKenan').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@or(or(startswith(item().Name, '01'), startswith(item().Name, '02')), startswith(item().Name, '03'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TestaPastaComArquivosKenan",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "FiltraArquivosKenan",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('FiltraArquivosKenan').output.FilteredItemsCount,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "plCtrCargaArquivosContestacaoKenan",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "plCtrCargaArquivosContestacaoKenan",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "ListaArquivosAtlys",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VerificaDiretorioAtlys",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FiltraArquivosAtlys",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ListaArquivosAtlys",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListaArquivosAtlys').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@or(startswith(item().Name, 'adj'), startswith(item().Name, 'rcvbl'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TestaPastaComArquivosAtlys",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "FiltraArquivosAtlys",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('FiltraArquivosAtlys').output.FilteredItemsCount,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "plCtrCargaArquivosContestacaoAtlys",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "plCtrCargaArquivosContestacaoAtlys",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-07-15T18:12:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}