pipeline/plCtrCargaArquivosContestacaoAtis.json
{
	"name": "plCtrCargaArquivosContestacaoAtis",
	"properties": {
		"activities": [
			{
				"name": "plCargaArquivosContestacaoAtis",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plCargaArquivosContestacaoAtis",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "BuscaNovoLoteOK",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "plCargaArquivosContestacaoAtis",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(ID_LOTE) AS ID_LOTE FROM CONVENIO.CVTB_LOTE WHERE CD_CRIADO_POR = 'Carga ADF - CargaArqAtis';\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "connExecQry",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set varNovoLoteOK",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "BuscaNovoLoteOK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varLote",
					"value": {
						"value": "@string(activity('BuscaNovoLoteOK').output.firstRow.ID_LOTE)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FinalizaLoteOK",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set varNovoLoteOK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseConv86",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "pId_lote",
									"type": "String",
									"value": {
										"value": "@variables('varLote')",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "NonQuery",
							"text": "UPDATE [CONVENIO].[CVTB_LOTE]\n    SET DT_FIM_PROCESSAMENTO = DATEADD(HOUR, -3, sysdatetime()),\n        FL_STATUS = 'PROCESSADO'\n    WHERE ID_LOTE = CAST(@pId_lote AS numeric(38));"
						}
					]
				}
			},
			{
				"name": "FinalizaLoteErro",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set varNovoLoteNOK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseConv86",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "pId_lote",
									"type": "String",
									"value": {
										"value": "@variables('varLote')",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "NonQuery",
							"text": "UPDATE [CONVENIO].[CVTB_LOTE]\n    SET DT_FIM_PROCESSAMENTO = DATEADD(HOUR, -3, sysdatetime()),\n        FL_STATUS = 'ERRO'\n    WHERE ID_LOTE = CAST(@pId_lote AS numeric(38));"
						}
					]
				}
			},
			{
				"name": "BuscaNovoLote_NOK",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "plCargaArquivosContestacaoAtis",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(ID_LOTE) AS ID_LOTE FROM CONVENIO.CVTB_LOTE WHERE CD_CRIADO_POR = 'Carga ADF - CargaArqAtis';\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "connExecQry",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set varNovoLoteNOK",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "BuscaNovoLote_NOK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varLote",
					"value": {
						"value": "@string(activity('BuscaNovoLote_NOK').output.firstRow.ID_LOTE)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"varLote": {
				"type": "String"
			}
		},
		"folder": {
			"name": "CargaArquivosAtis"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-08T14:55:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}